@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");


:root {
  --primary: #072ac8;
  --blue1-1: #43D2FF;
  --blue1-2: #A2D6F9;
  --white-blue: #D1EDFF;
  --colorh1Text: #292E47;
  --colorText: #6B708D;
  --whiteb-g: #F2F4FC;
  --whitetext: #ECF7FF;
  --secondary: #FFC600;
  --h1-font-size: 60px;
  --h1-font-weight: bold;
  --h2-font-size: 50px;
  --h2-font-weight: bold;
  --h3-font-size: 40px;
  --h3-font-weight: bold;
  --h4-font-size: 24px;
  --h4-font-weight: bold;
  --intro-text-size-b:24px;
  --intro-text-weight: medium;
  --intro-text-size-s:20px;
  --headline-text-size:17px;
  --headline-weigh-n: normal;
  --headline-weight-m: medium;
  --caption1-text-size: 15px;
  --caption2-text-size: 13px;
  --caption-text-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1rem; -- aplica rem */
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #F4F6FC;
  /* font-size: 8px; -- aplica em */
}

.examplep{
  font-size: 1rem;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

.menu-zone{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15em;
  margin: 3em 7em;
}

/* .menuburguer{
  display: none;
}
.menuburguer img{
  width: 5%;
} */

.nav-links{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  text-decoration: none;
  color: var(--colorText);
  transition:  0.7s ease;
}

.nav-links li a:hover{
  color: var(--primary);
}

.button-menu{
  display: none;
}

.button-contact{
  width: 150px;
  height: 52px;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
}

.button-contact a{
  text-decoration: none;
  color:var(--whitetext);
  font-size: var(--textformatIntroTextnormal);
}
.button-contact:hover{
  background-color: var(--colorh1Text);
}


/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.hero-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6em 7em;
}

.hero-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  /* 31em */
  width: 31em;
  gap: 2em;
}

.hero-section div h1{
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  color: var(--colorh1Text);
}

.hero-section div p{
  font-size: var(--intro-text-size);
  color: var(--colorText);
}

.hero-section a{
  text-decoration: none;
  font-size:var(--headline-text-size);
  color:#626680;
  padding-right: 1em;
}

.hero-section a + button{
  background-color: var(--primary);
  font-size:var(--headline-text-size);
  color: var(--whitetext);
  border: none;
  /* 10em */
  width: 10em;
  /* 3.25em */
  height: 3.25em;
  cursor: pointer;
}
.hero-section a + button:hover{
  background-color: var(--colorh1Text);
}

.position-hero{
  position: relative;
  background-image: url("/resources/images/hero-section/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 35.7em */
  width: 35.7em;
  /* 40em */
  height: 40em;
}
.position-hero .card1{
  position: absolute;
  /* -1em */
  top: -16px;
  /* -5.5em */
  left: -88px;
  /* 22.5em */
  width: 360px;
  /* 24em */
  height: 384px;
  opacity: 0.9;
  z-index: 1;
}
.position-hero .card2{
  position: absolute;
  /* -8em */
  bottom: -8em;
  /* -5em */
  right: -5em;
  /* 22.5em */
  width: 22.5em;
  /* 24em */
  height: 24em;
  z-index: 1;
}


/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

.carousel-logos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 13em 0;
}

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */


.projects h2{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  /* en pantallas de más de 1200 funciona */
  /* margin: 0 10em 2em; */
  margin: 0 5em 2em;
}

.projects div{
  display: flex;
  justify-content: center;
}

.projects article{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* 21.25em */
  width: 22.5em;
  /* 27.75em */
  height: 35em;
  margin: 1em;
  box-shadow: 2px 2px 24px 6px rgba(0, 0, 0, 0.1);
}

.projects article img{
  /* 21.25em */
  width: 22.5em;
  /* 15em */
  height: 15em;
}

.projects-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 1em;
}

.projects-text h4{
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  margin-bottom: 0.5em;
}

.projects-text p{
  font-size: var(--intro-text-size);
  font-weight: var(--intro-text-weight);
  color: var(--colorText);
}

.projects-text a{
  margin-top: 3em;
  text-decoration: none;
  font-size: var(--intro-text-size);
  font-weight: var(--intro-text-weight);
  color: var(--primary);
}


/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

.reviews-section{
  position: relative;
  background-color: var(--colorh1Text);
  /* 82.5em */
  width: 82.5em;
  /* 38.9em */
  height: 38.9em;
  margin: 10em auto 10em;
}

.emoji1{
  position: absolute;
  top: 51px;
  left: 76px;
  /* 9.4em */
  width: 9.4em;
  height: 9.4em;
}

.emoji2{
  position: absolute;
  top: 51px;
  right: 91px;
  /* 9.4em */
  width: 9.4em;
  height: 9.4em;
}

.emoji3{
  position: absolute;
  bottom: 73px;
  left: 76px;
  /* 9.4em */
  width: 9.4em;
  height: 9.4em;
}

.emoji4{
  position: absolute;
  bottom: 73px;
  right: 72px;
  /* 9.4em */
  width: 9.4em;
  height: 9.4em;
}
.circles{
  /* 82.5em */
  width: 82.5em;
}

.reviews-clients{
  position:absolute;
  top:120px;
  left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.5em;
  /* 59.4em */
  width: 59.4em;
  /* 23.9em */
  height: 23.9em;
}
.reviews-clients h3{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--whitetext);
}

.text-profile-first{
  font-size:var(--intro-text-size-b);
  font-weight: var(--intro-text-weight);
  color: var(--secondary);
  text-align: center;
}

.profile-user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.girl-profile{
  /* 4.3em */
  width: 4.3em;
  height: 4.3em;
  border-radius: 50%;
}

.text-profile{
  font-size: var(--caption1-text-size);
  font-weight: var(--caption-text-weight);
  color: var(--blue1-1);
}
.text-profile span{
  font-size: 14px;
  color: var(--whitetext);
}

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */
.services h2{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  /* en pantallas de más de 1200 funciona */
  /* margin: 0 10em 2em; */
  margin: 0 5em 2em;
}

.articles-services{
  display: flex;
  justify-content: center;
}

.services article{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap:1.5em;
  /* 21.25em */
  width: 21.25em;
  /* 23.75em */
  height: 23.75em;
  margin: 1em;
  padding:3em 2em 0 2em;
  box-shadow: 2px 2px 24px 6px rgba(0, 0, 0, 0.1);
}

.icons-services{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue1-2);
  width: 5em;
  height: 5em;
  /* 5em */
  border-radius: 50%;
}

.body-text-services{
  font-size: var(--intro-text-size-s);
  font-weight: var(--intro-text-weight);
  color: var(--colorText);
}

.title-services{
  font-size: var(--intro-text-size-b);
  font-weight: var(--intro-text-weight);
  color: var(--colorh1Text);
}

.services article a{
  text-decoration: none;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-weight-m);
  color: var(--primary);
  margin-top: 2em;
  
}

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

.newsletter-section{
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  /* 82.5em */
  width: 100%;
  /* 31.25em */
  height: 31.25em ;
  margin: 10em auto 10em;
}

.newsletter-section h3{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--colorh1Text);
}

.newsletter-section p{
  font-size: var(--intro-text-size-s);
  font-weight: var(--intro-text-weight);
  color: var(--colorh1Text);
}

.form-newsletter{
position: relative;
margin: 0 1em;
}

.input-newsletter{
  /* 24.5em */
  width: 24.5em;
  /* 5em */
  height: 5em;
  border: none;
  outline: none;
  padding-left: 4em;
}
.input-icon-envelope{
  position: absolute;
  display: block;
  bottom: -0.5rem;
  left: 1rem;
  z-index: 2;
}

.input-button-newsletter{
  background-color: var(--primary);
  color: var(--whitetext);
  font-size: var(--headline-text-size);
  font-weight: var(--headline-weigh-n);
  width: 198px;
  height: 66px;
  border: none;
  cursor: pointer;
}

.input-button-newsletter:hover{
  background-color: var(--colorh1Text);
}
/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10em 7em 6em;
}

footer div{
  line-height: 2em;
}

footer div p{
  font-size: var(--caption1-text-size);
  font-weight: var(--caption-text-weight);
  color: var(--colorText);
}

.footer-list{
  display: flex;
  flex-wrap: wrap;
  /* 18.75em */
  width: 18.75em;
  gap: 2em;
}

.footer-list a{
  text-decoration: none;
  color: var(--colorText);
}

.footer-list a:hover{
  color: var(--primary);
}
/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

.simplify-article{
  /* 68.7em */
  width: 80vw;
  margin: 3em auto 5em;
}
.title-article h2{
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--colorh1Text);
}
.title-article-text{
  font-size: var(--intro-text-size-b);
  font-weight: var(--intro-text-weight);
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.title-article-text-small{
  font-size: var(--intro-text-size-s);
  font-weight: var(--intro-text-weight);
  color: var(--colorh1Text);
}

.title-article-text-small span{
  color: var(--colorText);
}

.simplify-article-image{
  /* 68.7em */
  width: 80vw;
  /* 27.75em */
  height: 27.75em;
  margin: 5em 0;
  box-shadow: 2px 2px 24px 6px rgba(247, 23, 213, 0.2);
}

.body-text-article{
  font-size: var(--intro-text-size-s);
  font-weight: var(--intro-text-weight);
  color: var(--colorText);
  line-height: 1.5em;
  margin-bottom: 2em;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

.section-form{
  /* 68.7em */
  width: 57em;
  /* 41.25em */
  height: 41.25em;
  margin: 2em auto;
}
.section-form h2{
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 3em 0;
}

.form label{
  font-size: var(--intro-text-size-s);
  font-weight: var(--intro-text-weight);
}

.form-middle{
  display: flex;
  gap: 5.25em;
}
.form-middle div{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#name{
  /* 68.7em */
  width: 68.7em;
  height: 70px;
  padding-left: 2em;
  border: none;
  outline: none;
  background-color: rgb(214, 223, 237);
}

#tel, #email{
  /* 31.25em */
  width: 31.25em;
  height: 70px;
  padding-left: 2em;
  border: none;
  outline: none;
  background-color: rgb(214, 223, 237);
}

#message{
  padding: 2em;
  width: 68.7em;
  height: 12em;
  border: none;
  background-color:rgb(214, 223, 237)
}

#button{
  background-color: var(--primary);
  color: var(--whitetext);
  font-weight: var(--headline-text-size);
  font-weight: var(--headline-weight-m);
  /* 68.7em */
  width: 68.7em;
  height: 80px;
  border: none;
}
.form-div{
 display: none;
}
.form-div.active{
  display: block;
  background-color: rgb(181, 232, 154);
  border: 1px solid rgb(123, 219, 44);
  color: var(--colorh1Text);
}
.form-div.notfinish{
  display: block;
  background-color: rgb(247, 135, 135);
  border: 1px solid rgb(242, 24, 24);
  color: var(--colorh1Text);
}
/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
  /* menu hamburguesa */
  .menu-nav {
    position: fixed;
    top: 70px;
    left: -100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    background-color: #F4F6FC;
  }
  
  .menu-nav.show {
   left: 0;
  }

  .nav-links {
    margin: 16px 0;
    background-color: rgb(223 218 218);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .nav-links li {
    margin-top: 2rem;
    color: #a29d9d;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  .menu-zone .button-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background-color:#F4F6FC;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #444444;
  }
  
  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-10px, 6px);;
  }
  
  .button-menu.close span:nth-child(3){
    display: none;
  }
/* menu normal */
  .menu-zone{
    margin: 2em;
    text-align: right;
  }
  /* .menuburguer{
    display: block;    
  } */
  /* .menu-zone nav{
    display: none;
  } */
  /* .menu-zone nav ul{
    flex-direction: column;
  }
  .menu-zone nav ul li{ */
    /* margin: 1em 0;
  } */
  .button-contact{
    display: none;
  }
/* Hero  */
  .hero-section{
    flex-direction: column;
    gap: 3em;
  }
  .hero-text{
    text-align: center;
    flex-direction: column;
  }
  .hero-section div h1{
    font-size: 45px;
  }
  .hero-section a + button{
    margin: 0 auto;
  }
  /* Carrusel empresas */
  .carousel-logos .amazon{
    display: none;
  }
  /* Recent Projects */
  .projects div{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .projects h2{
    margin: 1em 0.5em
  }
  /* Projects page */
  .projects article{
    margin-left: 0.25em;
  }
  .projects article img{
    width: 100%;
  }
  .body-text-article{
    width: 80vw;
  }
  /* Reviews section */
  .reviews-section{
    width: 100%;
  }
  .reviews-clients{
    width: 77%;
    top: 145px;
    left: 100px;
    gap: 1em;
    justify-content: space-evenly;
  }
  .circles{
    width: 100%;
  }
  .reviews-clients h3{
    font-size: 31px;
    text-align: center;
  }
  .text-profile-first{
    font-size: 20px;
  }
  /* Section form */
  .section-form, #name, .form-middle, #message, #button{
    width: 100%;
    gap: 0.2em;    
  }
  #email, #tel{
    width: 28.8em;
  }
  /* Services */
  .articles-services article{
    width: 30em;
    gap: 0.75em;
    height: 20.75em;
    padding: 2em 2em 0 1.5em
  }
  .icons-services{
    width: 5em;
    height: 5em;
  }
  .title-services{
    font-size: 18px;
  }
  .body-text-services{
    font-size: 15px;
  }
  /* footer */
  footer{
    margin: 10em 1em 6em;
  }
  .footer-list a{
    color: var(--primary);
  }
}
/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
  .menu-zone{
    margin: 2em;
    text-align: right;
  }
  .menuburguer{
    display: block;    
  }
  .menu-zone nav{
    display: none;
  }
  .menu-zone nav ul{
    flex-direction: column;
  }
  .menu-zone nav ul li{
    margin: 1em 0;
  }
  .menu-zone button{
    display: none;
  }
  /* Hero Section */
  .hero-section div h1{
    font-size: 28px;
  }
  .card1, .card2{
    display: none;
  }
  /* Reset Project */
  .projects article{
    width: 100%;
  }
  .projects article img{
    width: 100%;
  }
  .body-text-article{
    width: 80vw;
  }
  /* Reviews */
  .emoji1, .emoji2, .emoji3, .emoji4{
    display: none;
  }
  .reviews-clients{
    height: 28em;
    top: 84px;
    left: 70px;
  }
  .articles-services{
    width: 100%;
    flex-wrap: wrap;
  }
  /* Services section */
  .icons-services{
    width: 5em;    
  }
  .services h2{
    margin: 0 4em 0em
  }
  /* newsletter section */
  .newsletter-section{
    width: 100vw;
    text-align: center;
  }
  .input-newsletter{
    width: 198px;
  }
  .newsletter-section div{
    flex-direction: column;
  }
  .input-button-newsletter{
    margin-top: 1em;
  }
  .section-form div{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
    gap: 2em;
  }
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
